@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Lora:ital@0;1&family=Poiret+One&family=Poppins:wght@300;400&family=Red+Hat+Display:wght@300;400&family=Tilt+Neon&family=Unbounded&display=swap');

.information {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Red hat display;
}

img {
    width: 300px;
    float: right;
    transition: 0.3s;
}


.text {
padding: 0 200px 0 200px;
}


@media (max-width: 615px) {
    .text {
        padding: 20px;
    }
}

@media (max-width: 820px) {

 .AnimalSelection > div {
    width: 300px;
}

.AnimalSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

}

@media (max-width: 1024px) {
    .AnimalSelection {
        width: 80%;
        height: 20rem;
        display: flex;
        gap: 10px;
      }
      
      .AnimalSelection > div {
        border-radius: 10px;
        overflow: hidden;
        border: solid;
      }
      
}