@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Lora:ital@0;1&family=Poppins:wght@300;400&family=Tilt+Neon&family=Unbounded&display=swap');

html, body, .App {
  width: 100%;
  height: 100%;
  margin: 0;
}


.App {
font-family: Poppins;
flex-direction: column;
text-align: center;
}

.AnimalSelection {
  width: 80%;
  height: 20rem;
  display: flex;
  gap: 10px;
  margin-top: 20%;
  margin-left: 10%;
}

.AnimalSelection > div {
  border-radius: 10px;
  overflow: hidden;
  border: solid;
}

.AnimalSelection img {
  object-fit: cover;
  min-width: 50px;
  max-width: 300px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  padding-right: 20px;
}

nav > p, ion-icon {
  cursor: pointer;
}

img {
  transition: 0.3s ease-out;
  height: 100%;
}

ion-icon {
  font-size: 25px;
}

img:hover {
  transform: scale(1.2);
}

.headings {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100px;
  top: 60%;
  color: white;
  display: none;
}

.AnimalSelection > div:hover > .headings {
  display: block;
}
