@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Lora:ital@0;1&family=Poppins:wght@300;400&family=Tilt+Neon&family=Unbounded&display=swap');

html, body, .App {
  width: 100%;
  height: 100%;
  margin: 0;
}


.App {
  display: flex;
font-family: Poppins;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}

.AnimalSelection {
  width: 80%;
  height: 20rem;
  display: flex;
  gap: 10px;
}

.AnimalSelection > div {
  border-radius: 10px;
  overflow: hidden;
  border: solid;
}

.coverImage {
  object-fit: cover;
  min-width: 50px;
  transition: 0.3s ease-out;
  height: 100%;
  max-width: 300px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  padding-right: 20px;
  width: 100%;
}

nav > p, ion-icon {
  cursor: pointer;
}

ion-icon {
  font-size: 25px;
}

.coverImage:hover {
  transform: scale(1.2);
}


.darkMode {
  color: white;
  background-color: black;
}

ion-icon {
  padding: 5px;
  border-radius: 4px;
  transition: 0.2s;
}
 
ion-icon:hover {
  background-color: black;
  color: white;
}

nav > p {
  position: relative;
}


 nav > p::after {
  content: ' ';
position: absolute;
 left: 0;
 top: 22px;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: right;
}

nav > p:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

a:visited {
  color: black;
}

@media (max-width: 1040px) {
  .AnimalSelection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
  .AnimalSelection > div {
    height: 150%;
  }
}

@media (max-width: 1040px) {
  .AnimalSelection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 60%;
    height: 60rem;
    row-gap: 8rem;
  }

}



.AnimalContainer {
  display: grid;
  place-items: center;
}

a {
  text-decoration: underline;
  text-decoration-color: #EDEBA0;
  text-decoration-thickness: 5px;
}